<footer class="footer">
    <div class="bottom">
        <%- partial('plugins/site-visit') %>

        <p>
            <span>
                <%-config.author %> &copy;
                <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%> <%- theme.since_year %> - <%}%> <%- date(new Date(), 'YYYY') %>
            </span>
            <span>
                <% if(theme.ICP_license) {%>
                <a href="https://ouyangshikang.github.io/" target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
                相关链接
                <a href="https://juejin.im/user/58d33427ac502e0058b86301" target="_blank">掘金</a>
                <a href="https://github.com/ouyangshikang" target="_blank">github</a>
            </span>
        </p>
    </div>
</footer>
